<footer id="footer">
    <div class="inner">
        <ul class="icons">
            <li>
                <a href="https://www.linkedin.com/in/pourya-ziamanesh-577142115/" class="icon brands fa-linkedin fa-2x">
                    <span class="label">Twitter</span>
                </a>
            </li>
            <li>
                <a href="https://github.com/PZiamanesh" class="icon brands fa-github fa-2x">
                    <span class="label">Github</span>
                </a>
            </li>
            <li>
                <a href="mailto:po.ziamanesh@gmail.com" class="icon solid fa-envelope fa-2x">
                    <span class="label">Email</span>
                </a>
            </li>
        </ul>
    </div>
</footer>